//Style - Fiche produit

.single-user-pane {
  position: relative;
  width   : 60%;
  margin  : auto;
}

.single-user-info {
  width   : 100%;
}

//Style - Image produit 

img {
  position: relative;
  width   : 100%;
}